*.o
*.so
*.*.d
*.out
*.mod.c
*.ko
*.cmd.*
.*.cmd.*
*.built-in.o.cmd
*.builtin
*.order
.*.o.cmd
.*.cmd
.*.dtb.dts.tmp
.*.dtb.d.pre.tmp
.*.dtb.d.dtc.tmp
.*.dtb.d.pre.tmp
.*.dtb.d.dtc.tmp
*.s
.*.cpio.d
*.c~
*.map
*.a
vmlinux
.version
vdso.so.dbg
